<%- include("partials/header.ejs") %>

    <div class="container-random">
        <% if (locals.randomArtwork) { %>
            <div class="container-art">
                <img id="art-image" src="<%= randomArtwork.artImage %>">
                <div class="art-info">

                    <p>
                        <%= randomArtwork.artArtistName%>:
                            <%= randomArtwork.artArtistBio %>
                    </p>
                    <p>
                        Made in: <%= randomArtwork.artDate %>
                    </p>
                    <p>
                        <%= randomArtwork.artCity %>, <%= randomArtwork.artCountry %>
                    </p>
                    <p>
                        Period: <%= randomArtwork.artPeriod %>
                    </p>

                </div>
            </div>

            <div class="art-title">
                <h2>
                    <%= randomArtwork.artTitle%>
                </h2>
                <h3>
                    <%= randomArtwork.artArtistName%>
                </h3>
            </div>



            <% } %>
    </div>

    <%- include("partials/footer.ejs")%>