<%- include("partials/header.ejs") %>

    <div class="container-random">
        <% if (locals.randomArtwork) { %>
            <img id="art-image" src="<%= randomArtwork.artImage %>">
            <h2>
                <%= randomArtwork.artTitle%>
            </h2>
            <h3>
                <%= randomArtwork.artArtistName%>
            </h3>
            <div class="art-info">
                <p>
                    Period: <%= randomArtwork.artPeriod %>
                </p>
                <p>
                    <%= randomArtwork.artArtistBio %>
                </p>
                <p>
                    <%= randomArtwork.artDate %>
                </p>
                <p>
                    <%= randomArtwork.artCity %>
                </p>
                <p>
                    <%= randomArtwork.artCountry %>
                </p>

            </div>
            <% } %>
    </div>

    <%- include("partials/footer.ejs")%>